/*
Author: Nifin Noushad
Date: 11-07-2021
content: This CSS file is linked to premierLeague.html
*/

*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav,
figure{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1100px;
    height: 900px;
    background-color: #2e104b;
    margin: 30px auto;
    background-size: cover;
    position:relative;
    color: #ffff;
}

h1{
	font-size: 280%;
	text-align: center;
}

main img{
    column-span: all;
}

h2{
	margin-left: 1.2em;
	font-size: 190%;
}

img{
	margin-left: auto;
	margin-right: auto;
	margin-top: 130px;
	vertical-align:middle;
}

/*Style for Header*/
header {
    /*border-bottom: 2px solid #ef9c00; */
    margin-top: 20px;
}   

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

header nav ul li{
	display:inline;
}

header nav ul li a,
header nav ul li a:visited{
	color:#f11515;
	display:block;
	float:right;
	font-size:1.25em;
	font-weight:bold;
	padding:7px 10px 4px;
	text-transform:uppercase;
}

header nav ul li a:hover{
	text-decoration:none;
	background-color:#ac9f9f71;
}

header nav, article, nav ul li a,figure{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}


/*style for form*/

form{
	margin-top: 2em;
	margin-left: 2em;
	font-size:120%;
}

.cdetails{
	float:left;
	width: 7em;
	text-align:left;
}

.cdetails_input{
	margin-left: 2em;
	margin-bottom: 1em;
	width: 12em;
	color:black;
}
legend{
	margin-bottom: 0.5em;
}

.cbox{
	margin-right:0.2em;
	margin-left: 1em;
	margin-bottom: 1em;
}

.cradio{
	margin-right:0.2em;
	margin-left: 1em;
	margin-bottom: 1em;
}

.cradio_label,.cbox_label{
	font-size: 90%;

}
#age{
	margin-left: 2em;
	margin-bottom: 1em;
	width: 5em;
	color:black;
	text-align: center;
}
#age_text{
	float:left;
	width: 7em;
	text-align:left;
}

#Comments_text{
	float:left;
	width: 7em;
	text-align:left;
	margin-bottom: 1em;
}

input:required, input[required] {
	border: 3px solid red;
}

textarea{
	width: 15em;
	height: 5em;
	margin-left: 2em;
	color:black;
}

#buttons{
	margin-top:1em;
	margin-bottom: 2em;
}
#submit{
	color:hsl(0, 0%, 0%);
	width: 7em;
	height:2em;
	margin-left: 2.5em;
	background-color:#ffffff;
}

#reset{
	margin-left: 5em;
	width: 7em;
	height:2em;
	background-color:#87db8b;
	color:#000000;
}

/**/
.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

main { 
    height: 730px;     
    width: 500px;
    float: left;
    border-right: 3px solid #ffffff; 
    margin-top: 70px;
    text-align:justify;
    padding-right: 25px;
}

aside {
    width: 550px;
    float: right; 
    margin-top: 70px;
    text-align: justify;
}


/* Footer styling: */
footer{
	clear:both;
}
footer{
	text-align:center;
	font-size:0.825em;
    margin-top: 100px;
}

footer a,footer a:visited{
	color:#cccccc;
	background-color:#e40000;
	display:block;
	padding:2px 4px;
	z-index:100;
	position: relative;
    margin-top: 10px;
}

footer p{
	color: rgb(253, 253, 253);
	text-align: center;
    background-color:#e40000;
    margin-top: 720px;
    position:relative;
    display:block;
	padding:2px 4px;
	z-index:100;
}

footer a:hover{
	text-decoration:none;
	background-color:#01661b;
}
