/*
Author: Nifin Noushad
Date: 11-07-2021
content: This CSS file is linked to index.html
*/

*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav,
figure{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}


body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.825em;
	background-image: url("../images/football.jpg");
	object-fit:fill;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	position:relative;
	background-size: cover;
}

/* Hyperlink Styles: */

a, a:visited {
	text-align: center;
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	font-weight: bolder;
}

a img{
	border:none;
}

/* Headings: */

h1,h2,h3{
	font-family:"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	text-shadow:0 1px 1px black;
}

h1{
	/* The logo text */
	font-size:3.5em;
	padding:0.5em 0 0;
	text-transform:uppercase;
	color:rgb(1, 32, 5);
}

h3{
	/* The slogan text */
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size:2em;
	font-weight:normal;
	margin:0 0 1em;
	color:rgb(1, 32, 5);

}

h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

.go_up {
	float: right; 
}

p{
	line-height:1.5em;
	padding-bottom:1em;
	text-align: justify;
}
.pbold{
	font-size:1.2em;
	font-weight:bold;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

.line{
	/* The dividing line: */
	height:1px;
	background-color:#ffffff;
	border-bottom:1px solid #ffffff;
	margin:1em 0;
	overflow:hidden;
}

article .line{
	/* The dividing line inside of the article is darker: */
	background-color:#15242a;
	border-bottom-color:#204656;
	margin:1.3em 0;
}

footer .line{
	margin:2em 0;
}

nav{
	background:url(../images/gradient_light.jpg) repeat-x 50% 50% #f8f8f8;
	padding:0 5px;
	position:absolute;
	right:0;
	top:4em;
	
	border:1px solid #FCFCFC;

	-moz-box-shadow:0 1px 1px #333333;
	-webkit-box-shadow:0 1px 1px #333333;
	box-shadow:0 1px 1px #333333;
}

/* The clearfix hack to clear the floats: */

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* The navigation styling: */

nav ul li{
	display:inline;
}

nav ul li a,
nav ul li a:visited{
	color:#565656;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-transform:uppercase;
}

nav ul li a:hover{
	text-decoration:none;
	background-color:#eb6161;
}

nav, article, nav ul li a,figure{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/* Article styles: */

#page{
	width:960px;
	margin:0 auto;
	position:relative;
}

article{
	margin:3em 0;
	padding:20px;
	object-fit:fill;
	background-size: cover;
	position:relative;
	font-weight: bold;
}

figure{
	float:right;
	height:300px;
	margin-left:15px;
	overflow:hidden;
	width:500px;
}

/* Zoom In figure */
.articleBody figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.articleBody figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* Footer styling: */

footer{
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
}

footer a,footer a:visited{
	color:#cccccc;
	background-color:#e40000;
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;
}

footer p{
	color: #ffff;
	text-align: center;
}

footer a:hover{
	text-decoration:none;
	background-color:#01661b;
}

#article1{
	background-image: url("../images/premier+league.jpg");
	color:#ffffff;
	background-color: rgb(68, 2, 2);
}


