/*
     Author : Nifin Noushad
     Student Number : 8756085
*/


/*homepage*/

*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav,
figure{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}


body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.825em;
	background-image: url("../images/ice-cream-background.jpg");
	object-fit:fill;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	position:relative;
	background-size: cover;
}

/* Hyperlink Styles: */

a, a:visited {
	text-align: center;
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	font-weight: bolder;
}

a img{
	border:none;
}

/* Headings: */

h1,h2,h3{
	font-family:"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	text-shadow:0 1px 1px black;
}

h1{
	/* The logo text */
	font-size:3.5em;
	padding:0.5em 0 0;
	text-transform:uppercase;
	color:rgb(1, 32, 5);
}

h3{
	/* The slogan text */
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size:2em;
	font-weight:normal;
	margin-left: 5.5em;
	margin-bottom: 1em;
	font-size: 225%;
	color:rgb(182, 11, 182);
}

h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

.go_up {
	float: right; 
}

p{
	line-height:1.5em;
	padding-bottom:1em;
	text-align: justify;
}
.pbold{
	font-size:1.2em;
	font-weight:bold;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

.line{
	/* The dividing line: */
	height:1px;
	background-color:#ffffff;
	border-bottom:1px solid #ffffff;
	margin:1em 0;
	overflow:hidden;
}

article .line{
	/* The dividing line inside of the article is darker: */
	background-color:#15242a;
	border-bottom-color:#204656;
	margin:1.3em 0;
}

footer .line{
	margin:2em 0;
}

nav{
	background:url(../images/gradient_light.jpg) repeat-x 50% 50% #05117e;
	padding:0 5px;
	position:absolute;
	right:0;
	top:9em;
	
	border:2px solid #FCFCFC;

	-moz-box-shadow:0 1px 1px #333333;
	-webkit-box-shadow:0 1px 1px #333333;
	box-shadow:0 1px 1px #333333;
}

/* The clearfix hack to clear the floats: */

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* The navigation styling: */

nav ul li{
	display:inline;
}

nav ul li a,
nav ul li a:visited{
	color:#ffffff;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-transform:uppercase;
}

nav ul li a:hover{
	text-decoration:none;
	background-color:#eb6161;
}

nav, article, nav ul li a,figure{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/* Article styles: */

header h1{
    margin-top: 20px;
    color:#e90d0d;
    font-size: 250%;
}


header img{
    float:left;
    margin-right: 12px;
}

#page{
	width:1200px;
	margin:0 auto;
	position:relative;
}

article{
	margin-top:10em;
	padding:20px;
	object-fit:fill;
	background-size: cover;
	position:relative;
	font-weight: bold;
}

figure{
	float:right;
	height:300px;
	margin-left:15px;
	overflow:hidden;
	width:500px;
}

/* Zoom In figure */
.articleBody figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.articleBody figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* Footer styling: */

footer{
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
}

footer a,footer a:visited{
	color:#000000;
	background-color:#5c0606;
	display:block;
	padding:4px 4px;
	z-index:100;
	position:relative;
}

footer p{
	color: #fffdfd;
	text-align: center;
    background-color:#0f4e0d;
	display:block;
	height: 2em;
	width:980px;
	font-size: 125%;
	margin-left: 300px;
	padding:4px 4px;
	z-index:100;
	position:relative;
}

footer a:hover{
	text-decoration:none;
	background-color:#01661b;
}

form, .formData{
    width: 700px;
    height: 600px;
    border: 3px solid white;
    box-shadow: 0 0 10px #2c2c2c;
    padding: 30px;
    margin-top: 200px;
    margin-left: 210px;
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
    background-color: #fafafa;
    border-radius: 10px;
	opacity: 0.85;
}
label{
	margin-left: 120px;
    width: 250px;
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
    color: #000000;
	font-weight: bold;
}
input:not([type="radio"]), select{
    font-size: 16px;
    margin-top: 20px;
    font-family: 'Kalam', cursive;
    padding: 5px 10px;
	border:2px solid #000000;
}

input:not([type="radio"]){
    width: 190px;
    height: 30px;
}
#title{
    width: 880px;
}
#content{
    width: 880px;
    height: 500px;
    font-size: 16px;
    margin-top: 20px;
    font-family: 'Kalam', cursive;
    padding: 5px 10px;
}

#image{
    width: 700px;
    height: 25px;
    font-size: 135%;
}

#submit{
    margin-left: 150px;
    margin-top: 30px;
    height: 50px;
    width: 400px;
    background-color: #0f4e0d;
    color: #ffffff;
}

#choose_image{
    border-bottom:3px  #8d1313;
}

.errors{
	color: red;
	text-align: center;
	font-weight: bold;
	margin-top: 1em;
}