<!-- 
Author: Nifin Noushad
Date: 17-08-2021
Student email:Nnoushad6085@conestogac.on.ca
-->

<!DOCTYPE html> <!-- The new doctype -->
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>English Premier League</title>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/email.css">

</head>

<body>
    <header>
        <hgroup>
            <h1>Email Form</h1>
        </hgroup>

        <nav class="clear">
            <!-- The nav link semantically marks your main site navigation-->
            <ul>
                <li><a href="/home">Home</a></li>
            </ul>
        </nav>


    </header>

    <main>
        <!--First column in the page-->
        <img src="../images/email-us.png" alt="Emai_US" width="500" height="300">
    </main>

    <aside>
        <h2>CONTACT US</h2>
        <form name="emailform" action="successfull.html" method="POST">
            <fieldset id="details">
                <legend>Contact Form</legend>
                <label for="Name" class="cdetails">Name</label>
                <input type="text" name="name" id="Name" class="cdetails_input" required><br>
                <label for="addr" class="cdetails">Address</label>
                <input type="text" name="adress" id="addr" class="cdetails_input"><br>
                <label for="Phone" class="cdetails">Phone Number</label>
                <input type="tel" name="phone" id="Phone" class="cdetails_input">
                <br>
                <br>
            </fieldset>

            <fieldset id="buttons">
                <legend>Submit Your Details</legend>
                <input type="submit" id="submit" value="Submit">
                <input type="reset" id="reset" value="Reset"><br>
            </fieldset>

        </form>

    </aside>

    <footer>
        <!-- Marking the footer section -->

        <div class="line"></div>

        <p>Copyright 2021 - Refernces</p>

    </footer>
</body>

</html>