<!-- 
Author: Nifin Noushad
Date: 17-08-2021
Student email:Nnoushad6085@conestogac.on.ca
-->
<%- include('layouts/header'); -%>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../css/login.css">
        <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    </head>


    <body>

        <section id="page">
            <!-- Defining the #page section with the section tag -->
            <header>
                <%- include('layouts/title'); -%>
                    <nav class="clear">
                        <!-- The nav link semantically marks your main site navigation -->
                        <ul>
                            <li><a href="/placeorder">Place Order</a></li>
                            <li><a href="/login">Admin</a></li>
                            <li><a href="/orders">View Orders</a></li>
                            <li><a href="/contact">Contact US</a></li>
                        </ul>

                    </nav>

            </header>

            <section id="articles">
                <!-- A new section with the articles -->

                <!-- Article 1 start -->

                <div class="line"></div> <!-- Dividing line -->

                <article id="article1">
                    <!-- The new article tag. The id is supplied so it can be scrolled into view. -->

                    <h2>Ice Cream<a class="go_up" href="#"></a></h2>

                    <div class="line"></div>

                    <div class="articleBody clear">

                        <figure>
                            <!-- The figure tag marks data (usually an image) that is part of the article -->
                            <img src="https://cdn.pixabay.com/photo/2018/08/16/22/59/ice-cream-3611698_960_720.jpg"
                                alt="English_Premier_League" width="500" height="300">
                        </figure>

                        <p>The meaning of the name "ice cream" varies from one country to another. Terms such as "frozen
                            custard", "frozen yogurt", "sorbet", "gelato", and others are used to distinguish different
                            varieties and styles. In some countries, such as the United States, "ice cream" applies only
                            to a specific variety, and most governments regulate the commercial use of the various terms
                            according to the relative quantities of the main ingredients, notably the amount of
                            cream.[2] Products that do not meet the criteria to be called ice cream are sometimes
                            labelled "frozen dairy dessert" instead.[3] In other countries, such as Italy and Argentina,
                            one word is used for all variants. Analogues made from dairy alternatives, such as goat's or
                            sheep's milk, or milk substitutes (e.g., soy, cashew, coconut, almond milk or tofu), are
                            available for those who are lactose intolerant, allergic to dairy protein, or vegan.</p>

                    </div>
                </article>

            </section>
            <%- include('layouts/footer'); -%>