<!-- 
Author: Nifin Noushad
Date: 17-08-2021
Student email:Nnoushad6085@conestogac.on.ca
-->

<%- include('layouts/header'); -%>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../css/login.css">
        <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    </head>

    <body>
        <section id="page">
            <header>
                <%- include('layouts/title'); -%>
                    <%- include('layouts/nav'); -%>

            </header>

            <section id="articles"></section>
            <form name="myform" method="Post" action="">
                <h3>Please enter your credential</h3>
                <label>Username</label>
                <input placeholder="First Last" type="text" name="username"><br />
                <label>Password</label>
                <input type="password" name="password"><br />
                <input type="submit" value="Login" id="submit">
                <p id="errors">
                    <% if(typeof error !=='undefined' ){ %>
                        <%=error%>
                            <% } %>
                </p>
            </form>
        </section>
        <%- include('layouts/footer'); -%>