<!-- 
Author: Nifin Noushad
Date: 17-08-2021
Student email:Nnoushad6085@conestogac.on.ca
-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/delete.css">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <script src="/ckeditor/ckeditor.js"></script>
</head>

<body>

    <section id="page">

        <header>
            <%- include('layouts/title'); -%>
                <nav class="clear">
                    <!-- The nav link semantically marks your main site navigation -->
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/placeorder">Place Order</a></li>
                        <li><a href="/login">Admin</a></li>
                        <li><a href="/contact">Contact US</a></li>
                    </ul>
                </nav>

        </header>

        <div class="delete_message">
            <%= message %>
        </div>

    </section>

</body>

<%- include('layouts/footer'); -%>