<!-- 
Author: Nifin Noushad
Date: 17-08-2021
Student email:Nnoushad6085@conestogac.on.ca
-->
<% const BILLIARD_PRICE=7.98; const SUNDAE_PRICE=5.99; const SHAKE_PRICE=5.49; const TAX=.13; %>

    <%- include('layouts/header'); -%>

        <head>
            <hgroup>

                <h1>Welcome to "The Ice House"!!</h1>

            </hgroup>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap"
                rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="../css/orders.css">
            <link rel="stylesheet" type="text/css" href="../css/normalize.css">
        </head>

        <body>
            <h3>All orders Page</h3>
            <nav class="clear">
                <!-- The nav link semantically marks your main site navigation -->
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/placeorder">Place Order</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/contact">Contact US</a></li>
                </ul>
            </nav>
            <section>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Customer Number</th>
                            <th>Blizzards</th>
                            <th>Sundaes</th>
                            <th>Shakes</th>
                            <th>Sub_Total</th>
                            <th>Tax Amount</th>
                            <th>Grand Total</th>
                            <th>Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var order of orders){ %>
                            <tr>
                                <td>
                                    <%= order.customerName %>
                                </td>
                                <td>
                                    <%= order.customerNumber %>
                                </td>
                                <td>
                                    <%= order.blizzards %>
                                </td>
                                <td>
                                    <%= order.sundaes %>
                                </td>
                                <td>
                                    <%= order.shakes %>
                                </td>
                                <td>
                                    <%= (order.shakes * SHAKE_PRICE + order.blizzards * BILLIARD_PRICE + order.sundaes *
                                        SUNDAE_PRICE).toFixed(2) %>
                                </td>
                                <td>
                                    <%= (TAX * (order.shakes * SHAKE_PRICE + order.blizzards * BILLIARD_PRICE +
                                        order.sundaes * SUNDAE_PRICE)).toFixed(2) %>
                                </td>
                                <td>
                                    <%= ((order.shakes * SHAKE_PRICE + order.blizzards * BILLIARD_PRICE + order.sundaes
                                        * SUNDAE_PRICE) + (TAX * (order.shakes * SHAKE_PRICE + order.blizzards *
                                        BILLIARD_PRICE + order.sundaes * SUNDAE_PRICE ))).toFixed(2) %>
                                </td>
                                <td>
                                    <a href="/delete/<%= order._id%>">Delete</a>
                                </td>

                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </section>
        </body>
        <%- include('layouts/footer'); -%>