<!-- 
Author: Nifin Noushad
Date: 17-08-2021
Student email:Nnoushad6085@conestogac.on.ca
-->
<%const BILLIARD_PRICE=7.98; const SUNDAE_PRICE=5.99; const SHAKE_PRICE=5.49; const TAX=.13;%>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../css/delete.css">
        <link rel="stylesheet" type="text/css" href="../css/normalize.css">
        <script src="/ckeditor/ckeditor.js"></script>
    </head>

    <body>

        <section id="page">

            <header>
                <%- include('layouts/title'); -%>
                    <nav class="clear">
                        <!-- The nav link semantically marks your main site navigation -->
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/placeorder">Place Order</a></li>
                            <li><a href="/logout">Logout</a></li>
                            <li><a href="/contact">Contact US</a></li>
                        </ul>
                    </nav>

            </header>

            <div class="delete_message">
                <aside id="reciept">
                    <div class="outputDisplay" id="outputDisplay">
                        <!-- Place holders for output display -->
                        <% if(typeof(errors) !='undefined' ){ for(var error of errors){ %>
                            <p class="errors">
                                <%= error.msg%>
                            </p>
                            <% } } %>

                                <p id="formResult">Thank You for your Order</p>
                                <p id="formResult">Here are your Order details:</p>
                                <table>
                                    <tr>
                                        <th>Name</th>
                                        <td colspan="3">
                                            <%= addData.customerName %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Customer Number</th>
                                        <td>
                                            <%= addData.customerNumber %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Chocolate Blizzards</th>
                                        <td>
                                            <%= addData.blizzards %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Strawberry Sundaes</th>
                                        <td>
                                            <%= addData.sundaes %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Blueberry Shakes</th>
                                        <td>
                                            <%=addData. shakes %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Total cost of Chocolate Blizzards</th>
                                        <td>
                                            <%=addData.blizzards * BILLIARD_PRICE %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Total cost of Strawberry Sundaes</th>
                                        <td>
                                            <%=addData.sundaes *SUNDAE_PRICE%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Total cost of Blueberry Shakes</th>
                                        <td>
                                            <%=(addData. shakes *SHAKE_PRICE).toFixed(2) %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Sub Total</th>
                                        <td>
                                            <%=(addData.blizzards * BILLIARD_PRICE +addData.sundaes *SUNDAE_PRICE +
                                                addData. shakes *SHAKE_PRICE).toFixed(2) %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Tax</th>
                                        <td>
                                            <%=((addData.blizzards * BILLIARD_PRICE +addData.sundaes *SUNDAE_PRICE +
                                                addData. shakes *SHAKE_PRICE) * TAX).toFixed(2) %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Grand Total</th>
                                        <td>
                                            <%=(((addData.blizzards * BILLIARD_PRICE +addData.sundaes *SUNDAE_PRICE +
                                                addData. shakes *SHAKE_PRICE) * TAX) + (addData.blizzards *
                                                BILLIARD_PRICE +addData.sundaes *SUNDAE_PRICE + addData. shakes
                                                *SHAKE_PRICE)).toFixed(2) %>
                                        </td>
                                    </tr>

                                </table>

                                </br></br>
                                <div id="message"></div>
                                <br>
                                <div id="productDataTable"></div>
                    </div>
                </aside>
            </div>

        </section>

    </body>

    <%- include('layouts/footer'); -%>