<!-- 
Author: Nifin Noushad
Date: 17-08-2021
Student email:Nnoushad6085@conestogac.on.ca
-->
<%

var customerName='' ; 
var customerNumber='' ; 
var blizzards = 0;
var sundaes=0;
var shakes =0;
var titleError='' ; 
var contentError='' ; 
if(typeof(er) !='undefined' ) 
{ for(var error of er)
     { switch(error.param) { case 'title' : title=error.value; titleError=error.msg; break; case 'content' :
    content=error.value; contentError=error.msg; break; } } } %>

    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../css/placeorder.css">
        <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    </head>

    <body>
        <section id="page">
            <header>
                <%- include('layouts/title'); -%>
                    <nav class="clear">
                        <!-- The nav link semantically marks your main site navigation -->
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/login">Admin</a></li>
                            <li><a href="/contact">Contact US</a></li>
                        </ul>

                    </nav>

            </header>

            <section id="articles">

                <form action="process" method="POST">
                    <h3>Place your Order here!!</h3>

                    <label>Name</label>
                    <input id="customerName" placeholder="First Last" type="text" name="customerName"><br />

                    <label>Customer Number</label>
                    <input id="customerNumber" placeholder="121 111 1243" type="text" name="customerNumber"><br />

                    <label>Chocolate Blizzards($7.98)</label>
                    <input id="blizzards" placeholder="5" type="text" name="blizzards"><br />

                    <label>Strawberry Sundaes($5.99)</label>
                    <input id="sundaes" placeholder="5" type="text" name="sundaes"><br />

                    <label>Blueberry Shakes($5.49)</label>
                    <input id="shakes" placeholder="5" type="text" name="shakes"><br />
                    <% if(typeof(errors) !='undefined' ){ for(var error of errors){ %>
                        <p class="errors">
                            <%= error.msg%>
                        </p>
                        <% } } %>
                    <input type="submit" value="Submit" id="submit">
                </form>
         
            </section>
        </section>
        <%- include('layouts/footer'); -%>