<!-- 
Author: Nifin Noushad
Date: 17-08-2021
Student email:Nnoushad6085@conestogac.on.ca
-->
<footer>
    <!-- Marking the footer section -->
    <p>Copyright 2021 - Nifin Noushad</p> <!-- Change the copyright notice -->

</footer>


</body>

</html>