<!-- 
Author: Nifin Noushad
Date: 17-08-2021
Student email:Nnoushad6085@conestogac.on.ca
-->
<nav class="clear">
  <!-- The nav link semantically marks your main site navigation -->
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/placeorder">Place Order</a></li>
    <li><a href="/login">Admin</a></li>
    <li><a href="/contact">Contact US</a></li>
  </ul>
</nav>