<!-- 
Author: Nifin Noushad
Date: 17-08-2021
Student email:Nnoushad6085@conestogac.on.ca
-->
<hgroup>
    <img src="https://cdn.pixabay.com/photo/2019/11/07/13/05/waffle-4608843_960_720.jpg" alt="Serie_A" width="150"
        height="100">
    <h1>Welcome to "The Ice House"!!</h1>

</hgroup>